//- This is the pug file rendered when someone visits the home page
//- Server side rendering is now possible
//- For now client side works well enough

//- This file is still a slight mix of pug and html

extends template

block append head
  title NiceHash Buyer Profitability Chart (Beta version)
  link(rel="stylesheet" href="style.css")

block body
  h1 NiceHash Buyer Profitability Chart (Beta version)

  p.
    Experimental server side rendering implementation of the same data as on the <a href="/">home page.</a>

  p.
    No JavaScript is required.

  p.
    Any dates will probably be incorrect.

  hr

  - var date = (new Date(data.lastUpdated)).toLocaleString();
  p= "Last updated: " + date + " (updated around every four hours and I do intend to change this)"

  include table
  +table()
    each coin in data.coins
      tr(class=coin.isMostProfitable ? "highlight" : "")
        td= coin.displayName
        td= coin.algoName
        td= coin.price
        td(title=(new Date(coin.revenueDate)).toLocaleString())= coin.revenue
        td= coin.profit
        td(class=coin.isProfitable ? "cell-green" : "cell-red" + " cell-percent-change")= coin.roi

  hr

  #donations
    div
      b Consider donating:
    include donations
