table
  thead
    tr
      th(scope="col" title="Name and ticker of the coin.") Coin Name
      th(scope="col" title="The corresponding algorithm on NiceHash.") Algorithm
      th(scope="col" title="Average cost to buy hashing power for this coin on NiceHash. It is possible to have valid orders for less than this number.") Price / Cost
      th(scope="col" title="Estimated rewards for mining that coin. Actual results may vary greatly. Hover over the number for a timestamp. Lagging data is unreliable and striked.") Revenue / Rewards
      th(scope="col" title="Revenue minus cost.") Profit
      th(scope="col" title="Average returns on any bitcoin put into mining this coin on NiceHash. Actual results may vary greatly.").highlight ROI
  tbody
    each coin in data.coins
      tr(class=coin.isMostProfitable ? "highlight" : "")
        td= coin.displayName
        td= coin.algoName
        td= coin.price
        td(title=new Date(coin.revenueDate).toISOString() + " (UTC)" class={lagging: coin.lagging}).utc-title= coin.revenue
        td= coin.profit
        td(class=coin.isProfitable ? "cell-profitable" : "cell-not-profitable")= coin.roi
